<div class="asset-page" *ngIf="!isLoading">
    <h1>{{asset.name}}</h1>

    <div class="meta">
        <div class="thumb">
            <img [src]="getThumbnailUrl()" />
        </div>
    
        <div class="details">
            <div class="box">
                <div class="info-block">
                    <span class="label">Type</span>
                    <span class="value">{{getTypeName()}}</span>
                </div>
        
                <div class="info-block">
                    <span class="label">Category 1</span>
                    <span class="value">{{getCategoryName(asset.category1Id)}}</span>
                </div>
        
                <div class="info-block">
                    <span class="label">Category 2</span>
                    <span class="value">{{getCategoryName(asset.category2Id)}}</span>
                </div>
        
                <div class="info-block">
                    <span class="label">Category 3</span>
                    <span class="value">{{getCategoryName(asset.category3Id)}}</span>
                </div>
        
                <div class="info-block">
                    <span class="label">Tags</span>
                    <span class="value">{{asset.tags}}</span>
                </div>
        
                <div class="info-block">
                    <span class="label">Engine</span>
                    <span class="value">{{asset.engine ? asset.engine : '-'}}</span>
                </div>
        
                <div class="info-block">
                    <span class="label">Engine Version</span>
                    <span class="value">{{asset.engineVersion ? asset.engineVersion : '-'}}</span>
                </div>
        
                <div class="info-block">
                    <span class="label">Note</span>
                    <span class="value">{{asset.note ? asset.note : '-'}}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="files-container">
        <h2>Files</h2>

        <div class="box">
            <div class="add-file-area">
                <input type="file" name="file" placeholder="Select a file" (change)="onSelectedFileForUpload($event)" />
                <button class="btn-green" [disabled]="!canAddFile()" (click)="addFile()">+ Add file</button>
            </div>
        </div>

        <div class="files">
            <div class="file" [ngClass]="{ 'editing': _file.isEditing }" *ngFor="let _file of files">
                <div class="actions" *ngIf="!_file.isEditing">
                    <span class="action" (click)="editFile(_file)">edit</span>
                    <span class="action green" (click)="downloadFile(_file)">download</span>
                    <span class="action red" (click)="deleteFile(_file)">delete</span>
                </div>
                
                <div class="actions" *ngIf="_file.isEditing">
                    <span class="action green" (click)="saveFile(_file)">save</span>
                    <span class="action" (click)="cancelEditFile(_file)">cancel</span>
                </div>

                <div class="name">
                    <span class="logo-blender" *ngIf="_file.name.indexOf('.blend') !== -1"></span>
                    <span class="logo-texture" *ngIf="_file.name.indexOf('.png') !== -1 || _file.name.indexOf('.jpg') !== -1 || _file.name.indexOf('.tif') !== -1"></span>
                    <span class="text">{{_file.name}}</span>
                </div>
                <div class="size">{{_file.size | fileSize}} - {{ _file.fileType }}</div>
                <div class="comment" *ngIf="!_file.isEditing && _file.comment !== undefined && _file.comment !== null && _file.comment.length > 0">
                    {{_file.comment}}
                </div>

                <div class="edit-form" *ngIf="_file.isEditing">
                    <div class="form-label">File Type</div>
                    <select [(ngModel)]="_file.editingFileType">
                        <option value=""></option>
                        <option [value]="_fileType" *ngFor="let _fileType of fileTypes">{{_fileType}}</option>
                    </select>
                    
                    <div class="form-label">Comment</div>
                    <textarea [(ngModel)]="_file.editingComment"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>